@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: #f6fff9;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-500 via-green-400 to-green-300 bg-clip-text text-transparent;
}

.green_gradient_bg {
  @apply bg-gradient-to-r from-green-300 via-green-200 to-green-100;
}

.green_btn {
  @apply bg-green-400 rounded-full text-white px-3 ml-4
}

.spinner {
  @apply border-4 border-green-200 border-t-green-400 rounded-full w-20 h-20 animate-spin
}

.refresh_btn {
  @apply rounded-full  mt-8 bg-green-500 text-white inline-block mx-auto w-20 h-20
}
